body{
    background-color: whitesmoke;
}

.table_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rem;
    width: 100%;
}

#grid{
    width: 40rem;
    height: 40rem;
}



.alive{
    background-color: black;
}

.dead{
    background-color: brown;
}